<h1>Add a Category</h1>

<form action="/categories" method = "post">
  <label for="name">Category name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn">Add Category</button>
</form>
