
<h3>Snapping back at the yappity-zap yo</h3>
<p>Shut up dad...</p>
<hr>
#foreach($restaurant in $restaurants)
  <a href="restaurant/$restaurant.getId()">$restaurant.getName()</a>
#end
<hr>
<a class="btn btn-link" href="/restaurant/new" role="button">Add a Restaurant!</a>
