<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>¡YapZap!</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    #parse($template)
  </body>
</html>
